@import './src/styles/MixinsMedia.module.scss';
@import './src/styles/Variables.module.scss';
@import './src/styles/MixinsLayout.module.scss';
@import './src/styles/MixinsKit.module.scss';


.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-weight: $font-weight-400;
  font-size: $font-size-18;
  line-height: 18px;
  color: $color-black;
  padding: 0;
  margin: 0;

  &__btn {
    color: $color-main;
    font-size: 26px;
    cursor: pointer;
    margin: 0 10px;
  }

  &__link {
    cursor: pointer;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

.active {
  background: $color-main;
  color: $color-white;
}

.disabled {
  color: $color-grey-dark;
}

.news {


  &__wrap {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width:750px) {
      gap: 20px;
      flex-direction: row;
      align-items: start;

    }

    @include lg-min {
      gap: 60px;
    }

    @include xl-min {
      gap: 100px;
    }
  }

  &__imgWrap {
    margin-bottom: 20px;
    justify-content: center;
  }

  &__img {
    max-width: 360px;
    border-radius: 15px;
  }

  &__textBox {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width:750px) {
      gap: 40px;
    }

  }

  &__textWrap {
    position: relative;
    max-height: 220px;
    overflow: hidden;

    &:before {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100px;
      content: "";
      opacity: 1;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#fff));
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0, #fff 100%);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #fff 100%);
      -webkit-transition: opacity .25s;
      -o-transition: opacity .25s;
      transition: opacity .25s;
    }
  }

  &__desc {
    font-size: $font-size-14;
    line-height: 21px;
    color: $color-black;
    mix-blend-mode: normal;

    @include xl-min {
      margin-bottom: 50px;

    }
  }

  &__link {
    display: block;
    margin-right: auto;
    font-weight: $font-weight-600;
    font-size: $font-size-14;
    line-height: 14px;
    color: $color-main;
    mix-blend-mode: normal;
    text-decoration: none;

    @include hoverAnimation;

    &:hover {
      color: $color-hover;
    }
  }
}