@import './src/styles/MixinsMedia.module.scss';
@import './src/styles/Variables.module.scss';
@import './src/styles/MixinsLayout.module.scss';
@import './src/styles/MixinsKit.module.scss';

.youtubeVideo {

  &__wrapIframe {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-top: 60px;
    margin-bottom: 30px;
    border-radius: 12px;

    @include lg-min {
      margin-top: 100px;
    }
  }

  &__iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  &__desc {
    font-weight: $font-weight-400;
    font-size: $font-size-14;
    line-height: 21px;
    color: $color-black;
    mix-blend-mode: normal;
    margin-top: -20px;
    margin-bottom: 20px;
  }
}