// .swiper-button-prev {
//   background-image: url("../../img/btn-left.svg");
//   background-repeat: no-repeat;
//   background-position: 50% 50%;
//   width: 50px;
//   height: 50px;
//   top: 87%;
//   left: 30%;
// }

.swiper-button-disabled {
  opacity: 0.3;
}

.mySwiper {}

// .swiper-button-next {
//   background-image: url("../../img/btn-left.svg");
//   background-repeat: no-repeat;
//   background-position: 50% 50%;
//   width: 50px;
//   height: 50px;
//   transform: rotate(180deg);
//   top: 87%;
//   right: 30%;
// }

// .swiper-button-next:after,
// .swiper-rtl .swiper-button-prev:after {
//   content: "";
// }

// .swiper-button-prev:after,
// .swiper-rtl .swiper-button-next:after {
//   content: "";
// }

@import './src/styles/MixinsMedia.module.scss';
/* @import './src/styles/Variables.module.scss'; */
@import './src/styles/MixinsLayout.module.scss';
/* @import './src/styles/MixinsKit.module.scss'; */

.swiper {
  width: 100%;
  // height: 100%;
  margin-left: auto;
  margin-right: auto;


  @include layoutMain;
}

.swiper-wrapper {

  @include xl-min {
    // justify-content: center;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  // height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  height: auto;
  align-content: stretch;
  align-items: stretch;
}

// .sliderWrapper {
//   @include xl-min {
//     justify-content: center !important;
//   }
// }