@import './src/styles/MixinsMedia.module.scss';
@import './src/styles/Variables.module.scss';
@import './src/styles/MixinsLayout.module.scss';
@import './src/styles/MixinsKit.module.scss';

.swiper {
  width: 100%;
  // height: 100%;
  margin-left: auto;
  margin-right: auto;

  @include layoutMain;
}

.swiper-slide {
  text-align: center;
  font-size: $font-size-18;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  height: auto;
  align-content: stretch;
  align-items: stretch;
}

.swiper-button-disabled {
  opacity: 0.3;
}