// .swiper-button-prev {
//   background-image: url("../../img/btn-left.svg");
//   background-repeat: no-repeat;
//   background-position: 50% 50%;
//   width: 50px;
//   height: 50px;
//   top: 87%;
//   left: 30%;
// }

.swiper-button-disabled {
  opacity: 0.3;
}

// .swiper-button-next {
//   background-image: url("../../img/btn-left.svg");
//   background-repeat: no-repeat;
//   background-position: 50% 50%;
//   width: 50px;
//   height: 50px;
//   transform: rotate(180deg);
//   top: 87%;
//   right: 30%;
// }

// .swiper-button-next:after,
// .swiper-rtl .swiper-button-prev:after {
//   content: "";
// }

// .swiper-button-prev:after,
// .swiper-rtl .swiper-button-next:after {
//   content: "";
// }