@import './src/styles/MixinsMedia.module.scss';
@import './src/styles/Variables.module.scss';
@import './src/styles/MixinsLayout.module.scss';

.section {
  background: $background-grey;
}

.sectionAlt {
  background: $background-white;
}

.sectionWrap {
  @include layoutMain;
  padding: 50px 0;

  @include lg-min {
    padding: 120px 0;
  }
}

.sectionWrapAlt {
  @include layoutMain;
  padding: 50px 0;

  @include lg-min {
    padding: 120px 0 50px 0;
  }
}

.sectionWrapShort {
  @include layoutMain;
  padding: 50px 0 80px 0;

  @include lg-min {
    padding: 60px 0 120px 0;
  }
}

.titleSection {
  font-weight: $font-weight-500;
  font-size: $font-size-32;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: $color-black;
  mix-blend-mode: normal;
  margin-top: 0;
  margin-bottom: 30px;

  @include lg-min {
    font-size: $font-size-38;
    line-height: 38px;
    margin-bottom: 80px;
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}