@import './src/styles/MixinsMedia.module.scss';
@import './src/styles/Variables.module.scss';
@import './src/styles/MixinsLayout.module.scss';
@import './src/styles/MixinsKit.module.scss';

//TODO rewiev this code. See on style alt btn
.btnSliderAlt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  position: relative;
  margin-top: 110px;
  z-index: 10;

  @include xl-min {
    // margin-top: -80px;
    margin-top: 0px;
  }
}

.btnSlider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  position: relative;
  z-index: 10;

  @include xl-min {
    // margin-top: -80px;
    margin-top: 0px;
  }

  &__prev {
    background: none;
    border: none;
    background: none;
    border: none;
    background-image: url("./btn-navigation-slide.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 100;
    cursor: pointer;

    &:focus {
      background-image: url("./btn-navigation-slide-active.svg");
    }
  }

  &__next {
    transform: rotate(180deg);
    background: none;
    border: none;
    //TODO review this code
    background-image: url("./btn-navigation-slide.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
    cursor: pointer;


    &:focus {
      background-image: url("./btn-navigation-slide-active.svg");
    }
  }
}