@import './src/styles/MixinsMedia.module.scss';
@import './src/styles/Variables.module.scss';

.menu {

  @include md {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 100%;
    overflow: auto;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    transition: all 0.5s ease 0s;
    background: $color-white;

    &.active {
      left: 0;
    }
  }

  @include md-min {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    background: $color-white;
    margin: 40px 0 40px 0;

    @include md-min {
      flex-direction: row;
      gap: 10px;
      background: none;
      margin: 0;

    }

    @include lg-min {
      gap: 30px;
    }


    @media screen and (min-width: 1100px) {
      margin-right: 100px;
    }

    @media screen and (min-width: 1200px) {
      gap: 40px;
    }

  }

  &__link {
    font-weight: $font-weight-600;
    line-height: 19px;
    text-align: center;
    color: $color-main;
    mix-blend-mode: normal;
    text-decoration: none;
    display: block;
    width: 270px;
    border-bottom: 2px solid $color-main;
    padding: 10px 0 20px 0;
    margin: 10px 0;
    transition: all 0.3s ease-in-out;


    @include md-min {
      border: none;
      width: 100%;
      color: $color-black;
      margin: 0;
      padding: 10px 0;
      font-size: $font-size-14;
    }

    @media screen and (min-width: 1200px) {
      font-size: $font-size-16;
      padding: 10px 5px;
    }


    &:hover {
      color: $color-hover;
    }
  }
}