@import '../App/variables';
@import '../../styles/mixins_media.module.scss';

.menu {
  display: none;

  @include md-min {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    @include md-min {
      flex-direction: row;
      gap: 10px;
    }

    @include lg-min {
      gap: 35px;
    }

    @media screen and (min-width: 1100px) {
      margin-right: 100px;
    }

    @include xl-min {
      margin-right: 166px;
    }
  }

  &__link {
    font-weight: $font-weight-600;
    line-height: 19px;
    text-align: center;
    color: $color-main;
    mix-blend-mode: normal;
    text-decoration: none;
    display: block;
    width: 286px;
    border-bottom: 2px solid $color-main;
    padding: 10px 0 20px 0;
    margin: 10px 0;
    transition: all 0.3s ease-in-out;


    @include md-min {
      border: none;
      width: 100%;
      color: $color-black;
      margin: 0;
      padding: 10px 0;
      font-size: $font-size-14;
    }

    @media screen and (min-width: 1150px) {
      font-size: $font-size-16;
      padding: 10px 5px;
    }

    &:hover {
      color: $color-hover;
    }
  }
}