@import './src/styles/MixinsMedia.module.scss';
@import './src/styles/Variables.module.scss';


.socialLine {
  position: relative;
  height: 30px;
  background: $gradient-main;

  &__wrap {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    @include md-min {
      left: 73%;
    }

    @media (min-width: (1100px)) {
      left: 77%;
    }

    @include xl-min {
      left: 80%;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #025FA7;
    box-shadow: 0px 4px 15px rgba(2, 95, 167, 0.08);
    border-radius: 25px 0px 0px 0px;
    width: 185px;
    height: 60px;
    line-height: 19px;
    color: $color-white;
    mix-blend-mode: normal;
    margin: 0;

    @include md-min {
      width: 282px;
      height: 80px;
    }
  }

  &__socialWrap {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(2, 95, 167, 0.08);
    width: 144px;
    height: 60px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @include md-min {
      width: 154px;
      height: 80px;
    }
  }

  &__icon {

    display: block;
    transition: all 0.3s ease-in-out;

    &:hover {
      fill: $color-hover;
    }
  }
}