@import './src/styles/Mixins_media.module.scss';
@import './src/styles/Variables.module.scss';


.logoMain {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(2, 95, 167, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  //TODO  пересмотреть
  margin: 0 -15px;
  padding: 10px 0px;

  @include md-min {
    margin: 8px 15px 8px 15px;
    padding: 0;
    box-shadow: none
  }

  &__img {
    max-width: 230px;
    height: 64px;
  }
}