@import './src/styles/MixinsMedia.module.scss';
@import './src/styles/Variables.module.scss';



.titleSection {
  font-weight: $font-weight-500;
  font-size: $font-size-32;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: $color-black;
  mix-blend-mode: normal;
  margin-top: 0;
  margin-bottom: 30px;

  @include lg-min {
    font-size: $font-size-38;
    line-height: 38px;
    margin-bottom: 80px;
  }
}