//fonts
$font-family: 'Rubik', sans-serif;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;

$font-size-14: 14px;

//color
$color-white: #fff;
//background
$gradient-main: linear-gradient(99.7deg, #025FA7 5.07%, #1682D4 32.97%, #00B0D0 60.87%, #09D3F6 88.76%, #42E3FF 116.66%);