@import './src/styles/mixins_media.module.scss';
@import './src/styles/variables.module.scss';

.titleMain {
  margin: 0;

  @include lg-min {
    margin-bottom: 40px;
  }

  &__gradient {
    font-weight: $font-weight-500;
    font-size: $font-size-24;
    line-height: 24px;
    color: $color-black;
    mix-blend-mode: normal;
    background: $gradient-main;
    margin: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include lg-min {
      font-size: $font-size-38;
      line-height: 38px;
    }

  }
}