@import './src/styles/MixinsMedia.module.scss';
@import './src/styles/Variables.module.scss';
@import './src/styles/MixinsLayout.module.scss';
@import './src/styles/MixinsKit.module.scss';

.slider {

  @include xl-min {
    overflow: visible;

  }

  @media (min-width: 768px) {
    @include layoutMain;
  }

  &__wrapper {
    // margin-left: 100px;
    // padding-left: 100px;

    @include xl-min {
      justify-content: center !important;
    }
  }



  &__itemWrap {
    position: relative;
    border-radius: 15px;
    width: 100%;
    background: $color-grey;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 15px rgba(2, 95, 167, 0.08);

    @media(min-width: 768px) {
      padding: 70px 40px;
    }

    @include xl-min {
      padding: 70px 70px;
      margin-left: 150px;
      margin-bottom: 150px;
    }
  }

  &__img {
    position: absolute;
    bottom: -80px;
    left: 0;
    right: 0px;
    width: 163px;
    border-radius: 80px;
    height: auto;
    margin: 0 auto;

    @include lg-min {
      width: 200px;
      border-radius: 100px;
      bottom: -120px;
    }

    @include xl-min {
      width: 240px;
      border-radius: 120px;
      // right: -450px;
      left: -450px;
      bottom: -100px;
    }
  }

  &__title {
    font-weight: $font-weight-500;
    font-size: $font-size-20;
    line-height: 20px;
    background: $gradient-main;
    text-transform: uppercase;
    margin: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media(min-width: 768px) {}

    @include xl-min {
      font-size: $font-size-24;
      line-height: 24px;
    }
  }

  &__position {
    font-weight: $font-weight-400;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 20px;

    @include xl-min {
      font-size: $font-size-18;
      line-height: 18px;
    }
  }


  &__desc {
    font-size: $font-size-14;
    line-height: 21px;
    color: $color-black;
    mix-blend-mode: normal;
    text-align: center;
    margin-bottom: 50px;
    // margin-top: auto;

    @include lg-min {
      margin-bottom: 60px;
    }

    @include xl-min {
      margin-bottom: 40px;
    }
  }
}