@import './src/styles/MixinsMedia.module.scss';
@import './src/styles/Variables.module.scss';


.titleMain {
  margin: 0;
  font-weight: $font-weight-500;
  font-size: $font-size-24;
  line-height: 24px;
  color: $color-black;
  mix-blend-mode: normal;
  margin: 0;
  mix-blend-mode: normal;
  background: $gradient-main;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include lg-min {
    margin-bottom: 40px;
    font-size: $font-size-38;
    line-height: 38px;
  }

}