@import './src/styles/MixinsMedia.module.scss';
@import './src/styles/Variables.module.scss';
@import './src/styles/MixinsLayout.module.scss';
@import './src/styles/MixinsKit.module.scss';

.donate {

  &__header {
    background: $gradient-main;
    box-shadow: 0px 4px 15px rgba(2, 95, 167, 0.08);
    border-radius: 15px 15px 0px 0px;
    min-height: 100px;
    padding: 12px 20px;

    @include lg-min {
      padding: 0px;
      gap: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__headerTitle {
    font-weight: $font-weight-500;
    font-size: $font-size-20;
    line-height: 20px;
    text-transform: uppercase;
    color: $color-grey;

    mix-blend-mode: normal;
    opacity: 0.2;
    margin: 10px 0 10px 20px;

    &_second {
      text-align: center;
    }

    &_third {
      text-align: right;

      @include lg-min {
        text-align: center;
      }
    }

    @include lg-min {
      display: inline-block;
      font-size: $font-size-24;
      line-height: 36px;
      margin: 0;
    }

    @media (min-width:1210px) {
      font-size: 32px;
      line-height: 36px;
    }
  }

  &__main {
    background: $color-white;
    padding: 50px 26px 70px 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    box-shadow: 0px 4px 15px rgba(2, 95, 167, 0.08);
    border-radius: 0px 0px 15px 15px;

    @include sm-min {
      padding: 90px 100px;
      gap: 40px;

    }

    @include lg-min {
      padding: 160px 0;
      gap: 50px;
    }
  }

  &__mainTitle {
    font-weight: $font-weight-500;
    font-size: $font-size-30;
    line-height: 36px;
    text-align: center;
    color: $color-black;
    mix-blend-mode: normal;
    background: $gradient-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    max-width: 220px;

    @include xs-min {
      max-width: 300px;
    }

    @include lg-min {
      font-size: $font-size-48;
      line-height: 57px;
      max-width: 700px;
    }
  }

  &__mainDesc {
    font-weight: $font-weight-500;
    font-size: $font-size-20;
    line-height: 24px;
    text-align: center;
    color: $color-black;
    mix-blend-mode: normal;
    margin: 0;

    @include lg-min {
      font-size: $font-size-24;
      max-width: 770px;
    }
  }
}