@import './src/styles/mixins_media.module.scss';
@import './src/styles/variables.module.scss';
@import './src/styles/layout.module.scss';


.header {

  &__wrap {
    @include layoutLarge;

    @include md-min {
      display: flex;
      justify-content: space-between;
      box-shadow: 0px 4px 15px rgba(2, 95, 167, 0.08);
    }
  }

  &__menuWrap {
    display: flex;
    justify-content: space-between;
    gap: 15px;

  }
}