@import './src/styles/MixinsMedia.module.scss';
@import './src/styles/Variables.module.scss';
@import './src/styles/MixinsLayout.module.scss';
@import './src/styles/MixinsKit.module.scss';

.menu {
  @include lg-min {
    flex: 1;
  }

  &__wrap {
    margin-bottom: 50px;

  }

  &__title {
    font-weight: $font-weight-500;
    font-size: $font-size-24;
    line-height: 24px;
    text-transform: uppercase;
    color: $color-white;
    mix-blend-mode: normal;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    font-weight: $font-weight-500;
    font-size: $font-size-14;
    line-height: 17px;
    color: $color-white;
    padding: 5px 0;
    mix-blend-mode: normal;
    text-decoration: none;
    margin-bottom: 5px;
    display: inline-block;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $color-hover;
    }
  }
}