@import './src/styles/MixinsMedia.module.scss';
@import './src/styles/Variables.module.scss';
@import './src/styles/MixinsLayout.module.scss';
@import './src/styles/MixinsKit.module.scss';

.ourResult {
  background: $color-grey;

  &__wrap {
    padding: 50px 0;
    @include layoutMain;

    @include lg-min {
      padding: 120px 0;
    }
  }
}