@import './src/styles/MixinsMedia.module.scss';
@import './src/styles/Variables.module.scss';
@import './src/styles/MixinsLayout.module.scss';
@import './src/styles/MixinsKit.module.scss';

.ourResult {
  padding: 50px 0;
  background: $color-grey;

  @include lg-min {
    padding: 120px 0;
  }
}