@import './src/styles/MixinsMedia.module.scss';
@import './src/styles/Variables.module.scss';
@import './src/styles/MixinsLayout.module.scss';
@import './src/styles/MixinsKit.module.scss';

.breadcrumbs {

  gap: 25px;
  @include layoutLarge;
  padding: 15px 0;
  display: flex;

  @include md-min {
    padding: 30px 0;
  }

  &__link {
    position: relative;
    text-decoration: none;
    font-weight: $font-weight-400;
    font-size: $font-size-14;
    line-height: 14px;
    color: $color-grey-dark;
    mix-blend-mode: normal;
    cursor: pointer;

    &::after {
      position: absolute;
      content: '';
      top: 4px;
      right: -16px;

      width: 6px;
      height: 6px;
      border-radius: 3px;
      background: $color-grey-dark;
    }

    &:hover {
      color: $color-hover;
    }

    &_active {
      color: $color-main;
      pointer-events: none;

      &::after {
        display: none;
      }

    }


  }


}